@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

body {
    margin: 0;
    position: relative;    
    font-family: 'Playfair Display', serif;
}

nav {
  color: floralwhite;
  position: fixed; 
  top: 0;
  left: 0;
  height: 4.5em;
  width: 100%;
  background: none;
  box-sizing: border-box;
  padding: 12px 18px;  
  display: flex;
  list-style-type: none;
  transition: background-color 0.2s ease-out;
  font-family: 'Playfair Display', serif;
}

nav.scroll {
  background-color: #FFF;
  color: #000;
}

header.wall1 {
    background-image: url(Images/hotel29.jpg);
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover; 
    top: -15px;
    position: relative;    
}

 .kk {    
    cursor: pointer;     
    position: relative;    
    top: 10px;
    left: 280px;
    margin-top: 15px;
    padding-bottom: 20px;    
    padding-right: 70px;    
    font-weight: 600;
    letter-spacing: .085em;
    font-size: 20px;    
    font-family: 'Playfair Display', serif;
}

 .kk1 {    
    cursor: pointer;     
    position: relative;    
    top: 10px;
    left: 280px;
    margin-top: 15px;
    padding-bottom: 20px;    
    padding-right: 70px;    
    font-weight: 600;
    letter-spacing: .085em;
    font-size: 20px;    
    color: #38ACEC;
    font-family: 'Playfair Display', serif;
}

 .k1 {    
    cursor: pointer;     
    position: relative;    
    top: 10px;
    left: 50px;
    margin-top: 15px;   
    font-weight: 600;
    letter-spacing: .085em;
    font-size: 28px;    
    font-family: 'Playfair Display', serif;
}

img.logo {
    width: 100px;
    height: 70px;
    position: relative;
    top: -22px;
    left: -30px;
}

.kk:hover, .kk.active, .kk:focus, .kk1:hover, .kk1.active, .kk1:focus {
    color: #38ACEC;   
}

  div.ra1 {
    margin-right: auto; 
    margin-left: auto;
    height: 400px;    
    text-align: center;    
    color: #000;     
    margin-bottom: 70px;
}

div.rt1 p {
    text-align: center;        
    margin-right: auto; 
    margin-left: auto;
    padding-top: 30px;
    font-size: 20px;   
    width: 850px;
    line-height: 3rem;   
}

div.rt1 h3 {
    font-size: 25px;
    padding-top: 50px;  
    text-align: center;
    vertical-align: middle;
    margin-right: auto; 
    margin-left: auto;
    letter-spacing: 0.4em;      
}

div.ra2 {
    background-size: cover;   
    display: flex;  
}    

div.rt2 p {   
    margin-left: 60px;
    margin-top: 35px;
    font-size: 15px;
    width: 400px;
    line-height: 3rem;
    text-align: left;   
    padding-right: 100px;
}

div.rt2 h3 {
    font-size: 25px;
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
}

div.rtt2 img {
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;   
}

div.ra3 {
    background-size: cover;   
    display: flex;  
}    

div.rt3 p {   
    margin-left: 60px;
    margin-top: 35px;
    font-size: 15px;
    width: 450px;
    line-height: 3rem;
    text-align: left;   
    padding-right: 100px;
}

div.rt3 h3 {
    font-size: 25px;
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: 50px;
}

div.rtt3 img {
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;   
}

div.ra4 {
    background-size: cover;   
    display: flex;  
}    

div.rt4 p {   
    margin-left: 60px;
    margin-top: 35px;
    font-size: 15px;
    width: 400px;
    line-height: 3rem;
    text-align: left;   
    padding-right: 100px;
}

div.rt4 h3 {
    font-size: 25px;
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
}

div.rtt4 img {
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;   
}

div.ra5 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 70px;
}

div.rt5 {
    margin-left: 60px;
    width: 950px;
    padding-right: 80px;
}

div.rtt5 {
    width: 950px; 
    margin-right: 60px;
}

footer.down {   
    margin-top: 1px;
    border-top: 1px dashed #33ccff;       
    height: 300px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;    
    text-align: center;
    overflow:hidden;
}

ul.tabs {
     list-style-type: none;
     width: 200px;    
     margin-left: 100px;   
     margin-top: 50px;  
}

ul.tabs li {
    padding-bottom: 30px;
    border: #38ACEC;   
}


div.snowflakes1 img {
    width: 50px;
    height: 40px;    
}

div.snowflakes1  {  
    text-align: center;
    margin-bottom: 10px;
}

div.snowflakes2 img {
    width: 50px;
    height: 40px;    
}

div.snowflakes2  {  
    margin-top: 10px;
    text-align: center;
}


img.line {
    margin-right: auto; 
    margin-left: auto;
    height: 12%;
    width: 12%;    
}

div.roomfeat {
    margin-right: auto; 
    margin-left: auto;
   text-align: center;        
}

div.roomfeat h3 {
    margin-right: auto; 
    margin-left: auto;
    font-size: 25px;
    padding-top: 50px;  
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.4em;  
}

img#icon1 {
  position: relative;
  left: -15px;    
}

img#icon2 {
  position: relative;
  left: -10px;    
}

div.adr {
    width: 300px;
    position: relative;
    top: -240px;
    left: 550px;
    text-align: justify;
}

div.block {
    display: flex;
    position: relative;
    left: 1000px;
    top: -380px;
    width: 200px;    
}

p#inst1 {
    position: relative;
    top: -17px;
    padding-left: 20px;
}

p#inst2 {
    position: relative;
    top: -11px;
    padding-left: 10px;
}

p#inst3 {
    position: relative;
    top: -7px;
    left: -2px;
}

div.soc {
    position: relative;
    
    display: grid;
}

div.soc a {
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
}

h3#zz {
    position: relative;
    top: -385px;
    left: 940px;
    width: 200px;
}

div.names a {
    text-decoration: none;
    color: #000;
}

div.names a:hover {
    color: #38ACEC;
}


button {    
    background: none;
    border-radius: 3.6em;
    width: 50px;
    height: 50px;
    border: 2px solid #38ACEC;
    margin: 3px;
}

button:hover, button:active, button:visited {
    cursor: pointer;
    background-color: #38ACEC;
     border: 2px solid #38ACEC;
}

div.song {
    display: flex;    
    width: 5px;
    height: 20px;
    float: right;
    position: relative;
    top: 20px;
    left: -130px;
}

